<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.FariBankAndroid"
        tools:targetApi="31">
        <activity
            android:name=".AddFund"
            android:exported="false" />
        <activity
            android:name=".FundDetails"
            android:exported="false" />
        <activity
            android:name=".FundsPage"
            android:exported="false" />
        <activity
            android:name=".Transfer"
            android:exported="false" />
        <activity
            android:name=".AddRequest"
            android:exported="false" />
        <activity
            android:name=".RequestDetails"
            android:exported="false" />
        <activity
            android:name=".EditContact"
            android:exported="false" />
        <activity
            android:name=".AddContact"
            android:exported="false" />
        <activity
            android:name=".ContactDetails"
            android:exported="false" />
        <activity
            android:name=".Support"
            android:exported="false" />
        <activity
            android:name=".Settings"
            android:exported="false" />
        <activity
            android:name=".ContactPage"
            android:exported="false" />
        <activity
            android:name=".Profile"
            android:exported="false" />
        <activity
            android:name=".TransactionDetails"
            android:exported="false" />
        <activity
            android:name=".SignUp"
            android:exported="false" />
        <activity
            android:name=".DashBoard"
            android:exported="false" />
        <activity
            android:name=".Login"
            android:exported="false" />
        <activity
            android:name=".RoleSelection"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>